body {
    margin: 20px;
    padding: 0px;
}

table {
    margin-top: 20px;
    text-align: center;
    width: 100%;
    border: none;
    border-collapse: collapse;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0,0,0,0.40);
}

thead tr{
    background: #a063e6;
    color: white;
    font-weight: bold;
}

td, th{
    padding: 10px;
}

tbody tr{
    border-bottom: 1px solid lightgray;
}

tbody tr:nth-of-type(even){
    background-color: #d4d3d3;
}

tbody tr:last-of-type{
    border-bottom: 3px solid #a063e6;
}
